
<!--Who are you & what are you doing?-->
<div class = "side-header">
  
  <!--お前は誰だ？-->
  <div class = "acount-name">
     <a href="#">Tom</a>
  </div>
  
  <!--部屋を作る-->
  <div class = "make-room">
   <a href="#">チャットを作成する</a>
  </div>
</div>

<!--どこさ入る？-->
<div class = "side-body">チャットるーむ</div>
