<!--Who are you & what are you doing?-->
<div class = "side-header">
  
  <!--お前は誰だ？-->
  <div class = "acount-name">
    <%=link_to  current_user.name, edit_user_path(current_user)%>
  </div>
  
  <!--部屋を作る-->
  <div class = "make-room">
      <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<!--どこさ入る？-->
<div class = "side-body">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>
