<!--Who are you & what are you doing?-->
<div class = "side-header">
  
  <!--お前は誰だ？-->
  <div class = "acount-name">
    <%=link_to  current_user.name, edit_user_path(current_user)%>
  </div>
  
  <!--部屋を作る-->
  <div class = "make-room">
   <a href="#">チャットを作成する</a>
  </div>
</div>

<!--どこさ入る？-->
<div class = "side-body">
 <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>
